@charset "UTF-8";

@font-face {
  font-family: "china-social";
  src:url("chinasocialicons/china-social.eot");
  src:url("chinasocialicons/china-social.eot?#iefix") format("embedded-opentype"),
    url("chinasocialicons/china-social.woff") format("woff"),
    url("chinasocialicons/china-social.ttf") format("truetype"),
    url("chinasocialicons/china-social.svg#china-social") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "china-social" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="csicon-"]:before,
[class*=" csicon-"]:before {
  font-family: "china-social" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.csicon-taobao:before {
  content: "a";
}
.csicon-weibo:before {
  content: "b";
}
.csicon-tt:before {
  content: "c";
}
.csicon-qq:before {
  content: "d";
}
.csicon-wechat:before {
  content: "e";
}
.csicon-baidu:before {
  content: "f";
}
.csicon-py:before {
  content: "g";
}
.csicon-duoban:before {
  content: "h";
}
.csicon-renren:before {
  content: "i";
}
.csicon-qzone:before {
  content: "j";
}
.csicon-kaixin:before {
  content: "k";
}
.csicon-mi:before {
  content: "l";
}
.csicon-cweibo:before {
  content: "m";
}
.csicon-ctaobao:before {
  content: "n";
}
.csicon-ctt:before {
  content: "o";
}
.csicon-cqq:before {
  content: "p";
}
.csicon-cduoban:before {
  content: "q";
}
.csicon-cpy:before {
  content: "r";
}
.csicon-cbaidu:before {
  content: "s";
}
.csicon-cweichat:before {
  content: "t";
}
.csicon-cmi:before {
  content: "u";
}
.csicon-ckaixin:before {
  content: "v";
}
.csicon-cqzone:before {
  content: "w";
}
.csicon-crenren:before {
  content: "x";
}
.csicon-rtaobao:before {
  content: "y";
}
.csicon-rweibo:before {
  content: "z";
}
.csicon-rtt:before {
  content: "A";
}
.csicon-rqq:before {
  position: relative;
  top: 0px;
  font-size: 25px !important;	
  content: "B";
}

.csicon-rweichat{
  border: 1px solid #04b00f !important;
  color:#04b00f !important;
  content: "C";
}
.csicon-rweichat:hover{
  background-color:#04b00f;
  color: #FFF !important;
  content: "C";
}
.csicon-rweichat:before {
  position: relative;
  top: 0px;
  font-size: 25px !important;
  content: "C";
}
.csicon-rbaidu:before {
  content: "D";
}
.csicon-rpy:before {
  content: "E";
}
.csicon-rduoban:before {
  content: "F";
}
.csicon-rrenren:before {
  content: "G";
}
.csicon-rqzone:before {
  position: relative;
  top: 4px;
  font-size: 25px !important;
  content: "H";
}
.csicon-rkaixin:before {
  content: "I";
}
.csicon-rmi:before {
  content: "J";
}

.icon-rweichat{
border: 1px solid #04b00f !important;
color:#04b00f !important;
}
.icon-rweichat:hover{
background-color:#04b00f;
color: #FFF !important;
}
.icon-rweichat:before {
  position: relative;
  top: 4px;
  font-size: 25px !important;
  
}
.icon-rqq{
border: 1px solid #4daeea !important;
color:#4daeea !important;
}
.icon-rqq:hover{
background-color:#4daeea;
color: #FFF !important;
}
.icon-rqq:before {
  position: relative;
  top: 4px;
  font-size: 25px !important;
}
.icon-cqzone{
border: 1px solid #eed03e !important;
color:#eed03e !important;
}
.icon-cqzone:hover{
background-color:#eed03e;
color: #FFF !important;
}
.icon-cqzone:before {
  position: relative;
  top: 4px;
  font-size: 25px !important;
}
