<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link th:fragment="css" href="style/css/signin.css" th:href="@{/style/css/signin.css}" rel="stylesheet"/>      
</head>
<body>
    <div class="container" th:fragment="content">
      <div class="coverimage">
           <img class="img-responsive" src="/assets/images/1.jpg" th:src="${game.coverImage}" alt=""/>
      </div>
      <form class="form-signin" th:action="${action}" method="post" th:object="${gameuser}">
        <h3 class="form-signin-heading" th:inline="text">[[${user.niceName}+#{邀你一起来玩}]]</h3>
        <div class="alert alert-warning" role="alert" th:if="${errorMessage}" th:text="#{${errorMessage}}">
		           注册失败     
		</div>
        <label for="username" class="sr-only">Username</label>
        <input type="text" class="form-control" id="username" th:placeholder="#{用户名}" th:field="*{username}" required="required" autofocus="autofocus"/>
        <label for="password" class="sr-only">Password</label>
	    <input type="password" class="form-control" style="border-bottom-right-radius: 0;border-bottom-left-radius: 0;" id="password" th:field="*{password}" th:placeholder="#{密码}" minlength="6" required="required"/>
        <label for="re_password" class="sr-only">Re-Password</label>
	    <input type="password" class="form-control" style="margin-bottom: 10px" id="re_password" placeholder="请重新输入密码" th:field="*{re_password}" name="re_password" minlength="6" required="required" />	
        <button class="btn btn-lg btn-primary btn-block" type="submit" th:text="#{注册}">Sign up</button>
      </form>
    </div>
    <!-- /container -->
	<script th:fragment="javascript" src="../static/style/js/jquery-validation-1.14.0/jquery.validate.js" th:src="@{/style/js/jquery-validation-1.14.0/jquery.validate.js}"></script>
	<script th:fragment="javascript" src="../static/style/js/jquery-validation-1.14.0/localization/messages_zh.js" th:src="@{/style/js/jquery-validation-1.14.0/localization/messages_zh.js}"></script>
	<script th:fragment="javascript">
		$().ready(function() {
		    $(".form-signin").validate({
		    	  rules: {
		    		    password: "required",
		    		    re_password: {
		    		      equalTo: "#password"
		    		    }
		    		  }
		    });
		});
	</script>
</body>
</html>