<!DOCTYPE html>
<html lang="en">
<head>
<!-- A link to a jQuery UI ThemeRoller theme, more than 22 built-in and many more custom -->
<link th:fragment="css" rel="stylesheet" type="text/css" media="screen"
	th:href="@{/style/jqgrid/css/ui.jqgrid-bootstrap.css}" />
<style th:fragment="css" type="text/css">
.gmli {
	border: 1px solid #1abb9c;
	border-radius: 3px;
/* 	margin-bottom: 10px;
	margin-left: 5px;
	display: inline-block; */
}
@media (min-width: 768px) {
  .modal-dialog {
    width: 600px;
    margin: 150px auto;
  }
}

}
</style>
</head>
<body>
	<div th:fragment="content">
		<div class="offset"></div>
		<div class="light-wrapper">
			<div class="container inner">
			    <div class="alert alert-warning" th:if="${errorMessage}">
			        <p th:text="#{${errorMessage}}"></p>
			    </div>
				<div>
				   <a class="btn btn-default" th:href="@{/pages/g/setGameInfo.shtml}" th:text="#{添加游戏}"></a>
				</div>   
				<ul class="items col4 isotope" style="position: relative; overflow: hidden; height: 868px;">
		          <li th:each="gameAdpater:${games}" class="item thumb graphic isotope-item gmli" style="position: absolute; left: 0px; top: 0px; -webkit-transform: translate(0px, 0px);">
		            <figure>
		              <img th:src="${gameAdpater.game.CoverImage}" alt=""></img>
		              <div style="padding: 10px 18px 0px;">
			              <span  style="padding-bottom: 10px;display: block;font-size: 20px;text-align: center;" th:text="${gameAdpater.game.gameName}"></span>
				          <p style="font-size:16px">
				          <span style="vertical-align: middle;">创建日期:</span> <span style="vertical-align: middle;" th:text="${{gameAdpater.game.createDate}}"></span>
				          <a style="margin:0px;padding: 3px 5px;" class="btn btn-default pull-right" th:href="@{/pages/g/setGameInfo.shtml(id=${gameAdpater.game.id})}" th:text="#{编辑}"></a>
				          </p>
			          </div>
		              <ul style="list-style-type: none;">
		                 <li th:each="gameShares:${gameAdpater.shares}" th:attr="data-gameshareid=${gameShares.id}"  data-toggle="modal" data-target="#gameshare_dialog" >
		                    <!-- <a th:href="@{/pages/g/setGameShareInfo.shtml(id=${gameShares.id})}" th:text="#{编辑}">
		                       <p><span th:text="#{说明}"></span>:<span th:text="${gameShares.description}"/></p>
		                    </a> -->
		                    <p><span th:text="#{说明}"></span>:<span th:text="${gameShares.description}"/></p>   
		                    <p><span th:text="#{分成比例}"></span>:<span th:text="${gameShares.share}"/></p>
		                    <p><span th:text="#{分成模式}"></span>:<span th:text="${gameShares.shareType}"/></p> 
		                 </li>
		       
		                 <li>
		                    <div>
				              <a style="padding: 3px 5px;" class="btn btn-default" th:href="@{/pages/g/setGameShareInfo.shtml}" th:attr="data-addgameshare='1'"  data-toggle="modal" data-target="#gameshare_dialog" th:text="#{添加分成设置}"></a>
				            </div>
		                 </li>
		              </ul>
		              <hr style="border: none;border-bottom: 1px solid #e1e1e1;padding:0px;margin:0px 10px 5px"/>
		              <ul style="list-style-type: none;">
		                 <li th:each="gameDownloads:${gameAdpater.downloads}" th:attr="data-gamedownloadid=${gameDownloads.gameId}" data-toggle="modal" data-target="#gamedownload_dialog">
		                    <!-- <a th:href="@{/pages/g/setGameDownloadInfo.shtml(gameId=${gameDownloads.gameId}, appType=${gameDownloads.appType})}" th:text="#{编辑}">
		                       <p><span th:text="#{说明}"></span><span th:text="#{appType+${gameDownloads.appType}}"/></p>
		                    </a> -->   
		                    <p><span th:text="#{游戏平台}"></span>:<span th:text="#{appType+${gameDownloads.appType}}"/></p>
		                    <p><span th:text="#{下载地址}"></span>:<span th:text="${gameDownloads.link}"/></p>
		                 </li>
		                 
		                 <li>
		                    <div>
				              <a style="padding: 3px 5px;" class="btn btn-default" th:href="@{/pages/g/setGameDownloadInfo.shtml}" th:attr="data-addgamedownload='1'"  data-toggle="modal" data-target="#gamedownload_dialog" th:text="#{添加下载设置}"></a>
				            </div>
		                 </li>
		              </ul>
				      
		            </figure>
		          </li>
		        </ul>
			</div>
		</div>

      
<!-- the div that represents the modal dialog -->
		<div class="modal fade" id="gameshare_dialog" role="dialog">
		    <div class="modal-dialog">
		        <div class="modal-content">
		            <div class="modal-header">
		                <button type="button" class="close" data-dismiss="modal">&times;</button>
		                <h4 class="modal-title">分成设置</h4>
		            </div>
		                <div class="modal-body">
		                    <form id="gameshare_form" action="/pages/g/setGameShareInfo.shtml" method="POST">
		                        	说明: <input type="text" name="description"/><br/>
		                        	分成比例: <input type="text" name="share"/><br/>
		                        	分成模式: <input type="text" name="shareType"/><br/>
		                    </form>
		                </div>
		                <div class="modal-footer">
		                    <button type="button" class="btn btn-default" data-dismiss="modal" style="margin-left: 5px;margin-bottom: 0;">关闭</button>
		                    <button type="button" class="btn btn-default" id="gs_submitForm">提交</button>
		                </div>
		            </div>
		        </div>
		 </div>
		 
		 <div class="modal fade" id="gamedownload_dialog" role="dialog">
		    <div class="modal-dialog">
		        <div class="modal-content">
		            <div class="modal-header">
		                <button type="button" class="close" data-dismiss="modal">&times;</button>
		                <h4 class="modal-title">下载设置</h4>
		            </div>
		                <div class="modal-body">
		                    <form id="gamedownload_form" action="/pages/g/setGameDownloadInfo.shtml" method="POST">
		                        	游戏平台: <input type="text" name="appType"/><br/>
		                        	下载地址: <input type="text" name="link"/><br/>
		                    </form>
		                </div>
		                <div class="modal-footer">
		                    <button type="button" class="btn btn-default" data-dismiss="modal" style="margin-left: 5px;margin-bottom: 0;">关闭</button>
		                    <button type="button" class="btn btn-default" id="gd_submitForm">提交</button>
		                </div>
		            </div>
		        </div>
		 </div>
	</div>
<script th:fragment="javascript" th:inline="javascript">
$(document).ready(function () {
	var gameshareid;
	var gamedownloadid;
	var addgameshare;
	var addgamedownload;
	
    $('#gameshare_dialog, #gamedownload_dialog').on('show.bs.modal', function (event) {  
        var button = $(event.relatedTarget); // 触发事件的按钮  
        gameshareid = button.data('gameshareid'); // 解析出data-whatever内容 
        gamedownloadid = button.data('gamedownloadid');
        addgameshare = button.data('addgameshare');
        addgamedownload = button.data('addgamedownload');
        console.log(addgameshare);
        var gsURL = $("#gameshare_form").attr("action")+"?id=" + gameshareid;
        var gdURL = $("#gamedownload_form").attr("action")+"?id=" + gamedownloadid;
        //console.log(gsURL);
        if(gameshareid){
		console.log(gameshareid);
        $.ajax({
            url: gsURL,
            type: "POST",
            data: "",
            success: function(data, textStatus, jqXHR) {
            	$('#gameshare_dialog .modal-body form input:eq(0)').val(data.description);
            	$('#gameshare_dialog .modal-body form input:eq(1)').val(data.share);
            	$('#gameshare_dialog .modal-body form input:eq(2)').val(data.shareType);
            },
            error: function(jqXHR, status, error) {
                console.log(status + ": " + error);
            }
        });
        }
        else if(gamedownloadid){
        console.log(gamedownloadid);
            $.ajax({
                url: gdURL,
                type: "POST",
                data: "",
                success: function(data, textStatus, jqXHR) {
                	$('#gameshare_dialog .modal-body form input:eq(0)').val(data.appType);
                	$('#gameshare_dialog .modal-body form input:eq(1)').val(data.link);
                },
                error: function(jqXHR, status, error) {
                    console.log(status + ": " + error);
                }
            });
        }

    }); 
    
    $("#gs_submitForm").on('click', function() {
        $("#gameshare_form").submit();
    });
    
    $("#gd_submitForm").on('click', function() {
        $("#gamedownload_form").submit();
    });
	
    $("#gameshare_form").on("submit", function(e) {
        var postData = $(this).serializeArray();
        if(addgameshare){
        var formURL = $(this).attr("action")+"?addgameshare=1";
        }
        else{
        var formURL = $(this).attr("action")+"?id=" + gameshareid;
        }
        //console.log(gameshareid);
        $.ajax({
            url: formURL,
            type: "POST",
            data: postData,
            success: function(data, textStatus, jqXHR) {
                $('#gameshare_dialog .modal-header .modal-title').html("结果");
                $('#gameshare_dialog .modal-body').html(data);
                $("#gs_submitForm").remove();
            },
            error: function(jqXHR, status, error) {
                console.log(status + ": " + error);
            }
        });
        e.preventDefault();
    });
    
    $("#gamedownload_form").on("submit", function(e) {
        var postData = $(this).serializeArray();
        if(addgamedownload){
        var formURL = $(this).attr("action")+"?addgamedownload=1";
        }
        else{
        var formURL = $(this).attr("action")+"?id=" + gamedownloadid;	
        }
        //console.log(gamedownloadid);
        $.ajax({
            url: formURL,
            type: "POST",
            data: postData,
            success: function(data, textStatus, jqXHR) {
                $('#gamedownload_dialog .modal-header .modal-title').html("结果");
                $('#gamedownload_dialog .modal-body').html(data);
                $("#gs_submitForm").remove();
            },
            error: function(jqXHR, status, error) {
                console.log(status + ": " + error);
            }
        });
        e.preventDefault();
    });
      

    $('#gameshare_dialog, #gamedownload_dialog' ).on('hidden.bs.modal', function () {
    	window.location.reload();
    });
});
</script>
<script th:fragment="javascript" src="style/js/layer/layer.js" th:src="@{/style/js/layer/layer.js}"></script>
</body>
</html>