<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>
<div th:fragment="content">
  <div class="offset"></div>
  <div class="light-wrapper">
    <div class="container inner">
      <div class="section-title-wrapper">
        <h3 class="section-title">Meet the Team</h3>
      </div>
      <div style="margin-left:20px">
         <table id="jqGrid"></table>
         <div id="jqGridPager"></div>
      </div>
    </div>
  </div>
</div>
<script th:fragment="javascript" th:inline="javascript" type="text/javascript"> 
        $(document).ready(function () {
        	$.jgrid.defaults.styleUI = 'Bootstrap';
            $("#jqGrid").jqGrid({
                url: [[@{/api/mygames}]],
                datatype: "json",
                colModel: [
                    { label: 'id', name: 'id', key: true, width: 75 },
                    { label: 'userId', name: 'userId', width: 150 },
                    { label: 'gameName', name: 'gameName', width: 150 },
                    { label: 'summary', name: 'summary', width: 150 }                    
                ],
                viewrecords: true, // show the current page, data rang and total records on the toolbar
        		width: 780,
        		height: 200,
        		rowNum: 30,
        		loadonce: true, // this is just for the demo
        		pager: "#jqGridPager"
            });
        });
</script>
<!-- We support more than 40 localizations -->  
<script th:fragment="javascript" type="text/javascript" th:src="@{/style/jqgrid/js/i18n/grid.locale-en.js}"></script>
<!-- This is the Javascript file of jqGrid -->   
<script th:fragment="javascript" type="text/javascript" th:src="@{/style/jqgrid/js/jquery.jqGrid.min.js}"></script>
</body>
</html>