<!DOCTYPE html>
<html lang="en">
<head>
<link th:fragment="css" th:href="@{/style/type/csicon.css}" rel="stylesheet"/>

</head>
<body>

<div th:fragment="content">
  <div class="offset"></div>
  <div class="light-wrapper">
    <div class="container inner">
      <div class="section-title-wrapper">
        <h3 class="section-title">Meet the Team</h3>
      </div>
      <div class="owl-team owlcarousel carousel-th">
        <div class="item" th:each="game:${games}">
          <figure><img src="/assets/images/1.jpg" width="440" height="290" th:src="${game.coverImage}" alt="" /></figure>
          <div class="image-caption text-center">
            <h3 class="post-title upper" th:text="${game.gameName}">产品名称</h3>
            <div class="meta">Sales Manager</div>
            <p th:text="${game.summary}">产品内容简介</p>
            <div th:switch="#{Locale}">
               <div th:case="'cn'">
		            <ul class="social" th:if="${__userInfo}">
		              <li><a tabindex="0" role="button" data-toggle="popover" th:attr="data-game-id=${game.id}" ><i class="csicon-rweichat"></i></a></li>
		              <li><a href="#"><i class="csicon-rqq"></i></a></li>
		              <li><a href="#"><i class="csicon-rqzone"></i></a></li>
		              <li><a href="#"><i class="icon-s-linkedin"></i></a></li>
		            </ul>
               </div>
            </div>
            <a th:unless="${__userInfo}" class="btn btn-lg btn-primary" href="/login" th:text="#{马上开始赚钱}">马上开始赚钱</a>
          </div>
        </div>
        <!-- /.item --> 
      </div>
      <!-- /.owlcarousel --> 
      
    </div>
  </div>
</div>  
<script th:fragment="javascript" >
$(function () {
	$('[data-toggle="popover"]').each(function () {
		var element = $(this);
		var id = element.attr('data-game-id');
		element.popover({
			trigger: 'click',
			placement: 'top', //top, bottom, left or right
			//title: txt,
			container: 'body',
			html: 'true',
			content: ContentMethod(id),
		});
	});
});
function ContentMethod(txt) {
	return '<img style="height: 200px;weight: 200px;" src="/gameshare/QR/' + txt + '.png"/>' +
	  	   '<p style="text-align: center;font-size: 12px;">扫码二维码分享至好友和朋友圈</p>';
}
</script>
</body>
</html>