<!DOCTYPE html>
<html lang="en">
<head>

</head>
<body>

<div th:fragment="content">
  <div class="offset"></div>
  <div class="light-wrapper">
    <div class="container inner">
      <div class="section-title-wrapper">
        <h3 class="section-title">Meet the Team</h3>
      </div>
      <div class="owl-team owlcarousel carousel-th">
        <div class="item" th:each="game:${games}">
          <figure><img src="/assets/images/1.jpg" width="440" height="290" th:src="${game.coverImage}" alt="" /></figure>
          <div class="image-caption text-center">
            <h3 class="post-title upper" th:text="${game.gameName}">产品名称</h3>
            <div class="meta">Sales Manager</div>
            <p th:text="${game.summary}">产品内容简介</p>
            <ul class="social">
              <li><a href="#"><i class="icon-s-twitter"></i></a></li>
              <li><a href="#"><i class="icon-s-facebook"></i></a></li>
              <li><a href="#"><i class="icon-s-pinterest"></i></a></li>
              <li><a href="#"><i class="icon-s-linkedin"></i></a></li>
            </ul>
          </div>
        </div>
        <!-- /.item --> 
      </div>
      <!-- /.owlcarousel --> 
      
    </div>
  </div>
</div>  
</body>
</html>