<!DOCTYPE html>
<html lang="en">
<head>

</head>
<body>
<style th:fragment="css" type="text/css">
 @media (min-width: 1200px){
.detailpagerow {
    width: 980px;
	}
}
.detailpagerow {
    margin:0 auto;
}
.left{
padding-left:33px;
}
/* .mask{
	display: block;
    position: absolute;
    top: 0;
    left: 50px;
    z-index: 1;
    width: 177px;
    height: 177px;
    background: url(https://s.mzstatic.com/htmlResources/77ec/web-storefront/images/mask175.png) 0 0 no-repeat;
    background-size: 175px 175px;
} */
.artwork {
    position: relative;
    text-align: center;
    margin-bottom: 15px;
    /* height: 180px; */
}
.side1{
margin-top:20px;}
</style>


  <!--/.navbar -->
<div th:fragment="content"> 
  <div class="offset"></div>
  <div class="light-wrapper">
    <div class="container inner">
      <div class="row detailpagerow">
	      <div class="left">
	              <h1 itemprop="name">黑暗之魂3</h1>
	              <!-- <h2>By Kiloo</h2> -->
	       </div>
      </div>
      <div class="row detailpagerow">
        <aside class="col-sm-4 sidebar lp30">
          <div class="sidebox widget product">
	          <div class="artwork">
	           <img width="175" height="175" alt="Subway Surfers" src="http://is4.mzstatic.com/image/thumb/Purple127/v4/15/1a/9e/151a9e00-3bac-ac17-aa74-40f469731da2/source/175x175bb.jpg"/>
	           <!-- <span class="mask"></span> -->
	          </div>
	          <ul class="circled">
	          <li><span>游戏类型:</span><span>体育</span></li>
	          <li><span>最近更新:</span><span>2015年7月1日</span></li>
	          <li><span>版本:</span><span> 1.71.1</span></li>
	          <li><span>大小:</span><span>156 MB</span></li>
	          <li><span>语言:</span><span>汉语</span></li>
	          <li><span>运行商:</span><span>网易</span></li>
	          <li><span>兼容性:</span><span>iPhone, iPad, iPod touch</span></li>
	          </ul>
          </div>
          <!-- /.widget -->
          <div class="sidebox widget side1">
            <h3 class="widget-title">分享</h3>
            <p>让我们一起，把快乐传递给最合适的人</p>
            <ul class="social">
              <li><a href="#"><i class="icon-s-rss"></i></a></li>
              <li><a href="#"><i class="icon-s-twitter"></i></a></li>
              <li><a href="#"><i class="icon-s-facebook"></i></a></li>
              <li><a href="#"><i class="icon-s-pinterest"></i></a></li>
              <li><a href="#"><i class="icon-s-linkedin"></i></a></li>
              <li><a href="#"><i class="icon-s-dribbble"></i></a></li>
              <li><a href="#"><i class="icon-s-flickr"></i></a></li>
            </ul>
          </div>
          <!-- /.widget -->
          
          <div class="sidebox widget side1">
            <h3 class="widget-title">收入</h3>
            <p><span>费率:</span><span>5元</span></p>
          </div>
         <!-- /.widget -->
        </aside>
        <!-- /.col-sm-4 .sidebar --> 
         <div class="col-sm-8 content">
          <div class="classic-blog">
            <div class="post format-image">
              <div class="post-content image-caption">
                <h3 class="post-title">游戏简介</h3>
                <p>《黑暗之魂3》是硬核动作角色扮演游戏系列《黑暗之魂》的正统作品，这部续作会由宫崎英高本人担任游戏的制作总监，本作依然会贯彻其标志性的高难度，相信游戏也会有不俗的素质与表现。</p>
                <p>在动作游戏越来越轻度化、休闲化的今天，魂系列反其道而行之的策略已经被市场证明了它的成功。足以将大多数休闲玩家群体拒之门外的超高难度，反而成为了魂系列的核心竞争力。《黑魂3》把快乐包裹在了层层痛苦之中，细心品味下去往往能屡败屡战、越战越勇，最终获得前所未有的成就感和满足感。 </p>
                <!-- <div class="divide30"></div> -->
                <h3>新版本特性 v1.71.1</h3>
                <ul class="circled">
                  <li>全新界面布局设计</li>
                  <li>精选页和互动直播底层页新增悬浮按钮；</li>
                  <li>修复已知问题,提升了应用稳定性。</li>
                </ul>
              </div>
              <!-- /.post-content image-caption --> 
            </div>
            <!-- /.post .format-image -->
          </div>
          <hr />
          <div id="comments">
            <h3>评论</h3>
            <ol id="singlecomments" class="commentlist">
              <li style="padding: 10px 0 20px 0;">
                <div class="user"><img style="height:70px;width:70px;" alt="" src="http://is4.mzstatic.com/image/thumb/Purple127/v4/15/1a/9e/151a9e00-3bac-ac17-aa74-40f469731da2/source/175x175bb.jpg" class="avatar" /></div>
                <div class="message">
                  <div class="arrow-box">
                    <div class="info">
                      <h2><a href="#">Connor Gibson</a></h2>
                      <div class="meta"> <span class="date">2015年3月7日</span> <span class="reply"><a class="reply-link" href="#">回复</a></span> </div>
                    </div>
                    <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Sed posuere consectetur est at lobortis. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Vestibulum id ligula porta felis euismod semper.</p>
                  </div>
                </div>
              </li>
            </ol>
          </div>
          <!-- /#comments -->
          <div class="comment-form-wrapper">
            <h3>留下你的想法?</h3>
            <form class="comment-form" name="form_name" action="#" method="post">
              <div class="name-field">
                <input type="text" name="first" title="用户名*"/>
              </div>
              <div class="email-field">
                <input type="text" name="first" title="Email*" />
              </div>
              <div class="message-field">
                <textarea name="textarea" id="textarea" rows="5" cols="30" title="在这里留言..."></textarea>
              </div>
              <input type="submit" value="提交" name="submit" class="btn btn-submit" />
            </form>
          </div>
          <!-- /.comment-form-wrapper --> 
          
        </div>
        
      </div>
      <!-- /.row --> 
      
    </div>
  </div>
 </div>

  <!-- /footer --> 
  

<!-- /.body-wrapper --> 


<!-- /canvas -->

</body>
</html>